<head>
	<meta charset="UTF-8">
	<title>UI Elements</title>
</head>

<template name="layout">
	<nav>
		<div class="nav-tabs">
			<a href="/" class="logo">Patria</a>
			<ul>
				<li class="{{isActivePath regex='^\/$'}}"><a href="/">Home</a></li>
				<li class="{{isActivePath regex='^/recommended$'}}"><a href="/recommended">Recommended</a></li>
				<li class="{{isActivePath regex='^/bookmarks$'}}"><a href="/bookmarks">Bookmarks</a></li>
			</ul>
		</div>
		<div class="nav-meta"></div>
	</nav>
	<main>
		<div class="main-content">
			<div class="inner-content">
				{{>yield}}
			</div>
		</div>
		<aside></aside>
	</main>
</template>
