<head>
	<meta charset="UTF-8">
	<title>UI Elements</title>
</head>

<template name="layout">
	<nav>
		<a href="/">Patria</a>
		<a href="/" class="{{isActivePath regex='^\/$'}}">Home</a>
		<a href="/recommended" class="{{isActivePath regex='^/recommended$'}}">Recommended</a>
		<a href="/bookmarks" class="{{isActivePath regex='^/bookmarks$'}}">Bookmarks</a>
	</nav>
	<main>
		<div class="main-content">
			<div class="inner-content">
				{{>yield}}
			</div>
		</div>
		<aside></aside>
	</main>
</template>
