ul.list-items {
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);
    @include flex-wrap(wrap);
}

li.block-small {
    padding: 1rem;
    margin: 0;
    text-align: center;
    overflow: hidden;
    @include flex(1);

    img {
        display: none;
        width: 100%;
        margin-bottom: 2rem;
        border-radius: 50%;
        background-color: #01de56;
    }

    .body {

        h2 {
            font-size: 16pt;
        }
    }

    & ~ & {
        margin-left: 1.5rem;
    }
}
