#home {
    header {
        text-align: center;
        background: #fff;
        @include flex(1);
        @include flex-direction(column);
        &:not(.dashboard) {
            min-height: 80vh;
            button {
                margin: 10vh auto 0;
            }
        }
    }
    section {
        @include flex(1);
    }
    section, .users {
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include align-items(center);
    }
    .avatar {
        margin: 0 1rem;
    }
}

a.board {
    padding: 1rem 1.5rem;
    height: 10rem;
    width: 10rem;
    overflow: hidden;
    background-color: #333;
    text-decoration: none;
    h5, p {
        color: #fff;
    }
}
