@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@mixin mask-image($image) {
    -webkit-mask-image: $image;
    mask-image: $image;
}

@mixin mask-repeat($option) {
    -webkit-mask-repeat: $option;
    mask-repeat: $option;
}

@mixin mask-position($position) {
    -webkit-mask-position: $position;
    mask-position: $position;
}
