#header {
    position: relative;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: white;
    overflow: hidden;
    z-index: 2;
}

#header .logo {
    font-size: 20pt;
    float: left;
}

#header .menu {
    position: relative;
    float: right;
    height: 100px;
    text-align: center;
}

#header .handler {
    position: relative;
    float: right;
    height: 99px;
    width: 100px;
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
}

#header .menu > .item {
    position: relative;
    float: right;
    margin: 0 2em;
    color: #555;
}

#header .menu > .item:hover {
    color: yellowgreen;
}