button {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background-color: transparent;
}

.btn {
	padding: 0.8rem 2rem;
	margin-right: 1rem;
	font-size: 1.2rem;
	line-height: 1;
	color: $color-primary;
	background-color: $color-primary;
	color: #fff;
	border-radius: 3rem;
	font-family: $font-default;
	font-weight: 200;
	cursor: pointer;
	display: inline-block;
	@include transition(.2s);
	@include user-select(none);

	&:hover {
		background-color: lighten($color-primary, 10%);
	}

	&:active {
		background-color: darken($color-primary, 10%);
	}

	&:focus {
		box-shadow: 0 0 0 3px #f80;
	}

	@media #{$phone-width} {
		& {
			margin: auto;
			text-align: center;
		}
	}
}
