@include keyframes(mouse-scroll) {
    0% {
        opacity: 1;
        @include transform(translateY(10px));
    }
    20% {
        @include transform(translateY(5px));
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        @include transform(translateY(0));
    }
    100% {
        opacity: 0;
        @include transform(translateY(10px));
    }
}

.mouse-scroll {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    width: 32px;
    height: 50px;
    color: #fff;
    text-align: center;
    border: 3px solid #fff;
    border-radius: 23px;
    @include transform(translateX(-50%));
}

.mouse-scroll:before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 15%;
    left: 50%;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    margin: 0 -3px;
    @include animation(mouse-scroll 2s linear infinite);
}

.mouse-scroll span {
    position: absolute;
    font-weight: 400;
    left: 50%;
    top: 100%;
    opacity: 0;
    margin-top: 0px;
    pointer-events: none;
    white-space: nowrap;
    @include transform(translateX(-50%));
    @include transition($default-speed);
}

.mouse-scroll:hover span {
    opacity: 1;
    margin-top: 10px;
}
