// Variables
$color-white:  rgba(255, 255, 255, 1);
$color-dark:   rgba(0, 0, 0, 0.9);
$color-medium: rgba(0, 0, 0, 0.8);
$color-light:  rgba(0, 0, 0, 0.5);

$nav-height: 4rem;

nav {
	position: relative;
	width: 100%;
	height: $nav-height;
	background-color: $color-white;
	font-family: $font-default;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	@include display(flex);
	@include flex-direction(row);

	.logo {
		height: $nav-height;
		line-height: $nav-height;
		text-decoration: none;
		display: inline-block;
		position: absolute;
		padding: 0 1rem;
		margin: 0;
		font-size: 1.75rem;
		font-weight: 600;
		color: $color-medium;
	}

	ul {
		padding: 0;
		margin: 0 auto;
		width: 620px;
		height: $nav-height;
		list-style: none;
	}

	li {
		height: $nav-height;
		margin: 0 0.5rem;
		line-height: $nav-height;
		text-decoration: none;
		color: $color-light;
		display: inline-block;
	}

	li.active {
		box-shadow: inset 0 -2px 0 0 $color-dark;
	}

	li.active a {
		color: $color-dark;
	}

	a:not(.logo) {
		text-transform: uppercase;
		font-size: 0.75rem;
		font-weight: 200;
		letter-spacing: 1px;
		color: $color-light;
		height: 100%;
		line-height: $nav-height;
		text-decoration: none;
		display: inline-block;

		&:hover {
			color: $color-dark;
		}
	}

	.nav-tabs {
		@include flex(1);
		margin-right: 400px;
	}

	.nav-meta {
		position: absolute;
		top: 0;
		right: 0;
		height: $nav-height;
		width: 400px;
	}
}
